TWILIO_ACCOUNT_SID="ACd5743cb98d0fe82b2721e32ad4ee548e"
TWILIO_AUTH_TOKEN="bc96359ece60e2709cbd7af84dec4bb4"
EMAIL_REMETENTE="mat.campos.silva@gmail.com"
SENHA_REMETENTE="nutp srit pdab pmfk"
MESSAGING_SERVICE_SID="MG8a0fb3ae84e3960a6d4202c529cc5fa8"
OPENAI_API_KEY="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"
