TWILIO_ACCOUNT_SID="ACd5743cb98d0fe82b2721e32ad4ee548e"
TWILIO_AUTH_TOKEN="e9ee305a4f4163d32b0e65f856c79422"
EMAIL_REMETENTE="mat.campos.silva@gmail.com"
SENHA_REMETENTE="nutp srit pdab pmfk"
MESSAGING_SERVICE_SID="MG8a0fb3ae84e3960a6d4202c529cc5fa8"
OPENAI_API_KEY="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"
