TWILIO_ACCOUNT_SID="ACd5743cb98d0fe82b2721e32ad4ee548e"
TWILIO_AUTH_TOKEN="662542f323cd98f1e5a5f13d52bd144c"
EMAIL_REMETENTE="mat.campos.silva@gmail.com"
SENHA_REMETENTE="nutp srit pdab pmfk"
MESSAGING_SERVICE_SID="MG8a0fb3ae84e3960a6d4202c529cc5fa8"
OPENAI_API_KEY="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"
