# Ignora variáveis de ambiente
.env

# Ignora arquivos e pastas temporárias do Python
__pycache__/
*.pyc

# Ignora logs locais
logs/__pycache__/
logs/logs_erros.log

# Ignora arquivos específicos do macOS
.DS_Store

# Ignora arquivos de configuração de IDEs
.vscode/
.idea/

# Ignora arquivo sensível da credencial do Google (será adicionado no Render manualmente)
secrets/credentials.json
.env
